.container{
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 5px;
}

form{
    display: flex;
    align-items: center;
}
label{
    font-size: 20px;
}

input{
    font-size: 18px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 1;
}
input:focus{
    outline: none;
}
select{
    font-size: 18px;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left: 10px;
}

.btn-save{
    font-size: 18px;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}
.btn-save:disabled{
    background-color: gray;
}