*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button{
  background: blue;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  margin: 0px 10px;
  border-radius: 5px;
}
